:javascript
  #{request.host == 'localhost' ? "var disqus_developer = 1;" : ""}
  var disqus_identifier = '#{request.path}';
  var disqus_url = '#{request.url}';
    (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://gachaswebs.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
%noscript
  Please enable JavaScript to view the
  %a{:href => "http://disqus.com/?ref_noscript=gachaswebs"} comments powered by Disqus.