%aside
  %h3 Markdown lietošana
  %h4 Virsraksti
  %p
    \# Šis ir lielais virsraksts H1
    %br/
    \## Šis ir otrā izmēra virsraksts H2
    %br/
    \###### Šis ir sestā izmēra virsraksts H6
  %h4 Citāti
  %p
    \> This is a blockquote with two paragraphs. Lorem ipsum dolor sit amet,
    consectetuer adipiscing elit.
  %h4 Saraksti
  %p
    \-   Viens
    %br/
    \-   Divi
    %br/
    \-   Trīs
    %br/
    %br/
    1.  Putns
    %br/
    2.  Šalle
    %br/
    3.  Rokturis
  %h4 Saites
  %p
    [piemērs](http://piemers.com/) bez virsraksta
    %br/
    %br/
    \<http://example.com/> - būs klikojama saite
  %h4 Attēli
  %p
    \![Alt text](/path/to/img.jpg)
    %br/
    \![Alt text](/path/to/img.jpg "Optional title")