body {
  margin: 0;
  padding: 0;
  font: 14px/1.4 "Lucida Grande", Helvetica, sans-serif;
  background-color: #f3efe5;
}

/* Fonts */

h1,h2,h3 { 
  margin-top:.8em; 
  font-family: Helvetica, Arial, sans-serif; 
  font-weight: normal; 
  color: #222;
  -moz-text-shadow: #ccc 1px 1px 1px;
  -webkit-text-shadow: #ccc 1px 1px 1px;
  text-shadow: #ccc 1px 1px 1px;
}
h1 { font-size:218%; margin-top:.2em; margin-bottom:.3em; line-height:1.1em; color: #222;}
h2 { font-size:150%; margin-top:1em; margin-bottom:.2em; line-height:1.2em; }
h3 { font-size:125%; font-weight:bold; margin-bottom:.2em; }
h4 { font-size:100%; font-weight:bold; margin-bottom:-3px; margin-top:1.2em; text-transform:uppercase; letter-spacing:1px; }
h4 pre, h4 tt, h4 .literal { text-transform:none; }
h5 { font-size:1em; font-weight:bold; margin-top:1.5em; margin-bottom:3px; color: #450D0D; }


a:link, a:visited, a:active {
  color: #A81616;
  text-decoration : none;
}
a:hover {
  background-color: #FFFCC0;
  color: #F1542F;
}
p {
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 0.5em 0 0.5em 0;
  padding: 0px;
}

code {
  color: #670101;
  background-color: #efefcf;
}

blockquote {
  background: #F3F0A0;
  border-left: 2px solid #620C0C;
  padding: 1em;
}

hr {
    height: 1px;
    border: none;
    background-color: #C0BDB6;
    width: 100%;
}

figure {
  margin: 0;
  display: inline;
}
/* Layout */

body > header {
  display: block;
  height: 135px;
  width: 100%;
  background: url(/images/menu.png) left bottom repeat-x;
  background-color: #620C0C;
}

body > header > a:hover {
  background-color: transparent;
}
body header h1 { 
  font-family: 'Comfortaa', cursive; 
  color: #F4D147;
  font-size: 40px;
  text-shadow: none;
  padding: 10px 0 0 0;
  margin: 0 0 0 40px;
}
body header h2 { 
  font-family: 'Jura', sans-serif; 
  font-size: 25px;
  color: #ccc;
  text-shadow: none;
  margin: 0 0 0 40px;
  padding: 0;
}
#content {
  margin: 1em 1em 1em 5em;
}

body > footer {
  display: block;
  font-size: 0.8em;
  border-top: 2px solid #E7E3D4;
  line-height: 20px;
  padding: 5px;
  text-align: center;
  color: #b7b7b7;
  clear: both;
}

nav {
  display: block;
  position: absolute;
  top: 76px;
  right: 50px;
}
nav ul {
  text-align: left;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}
nav ul li {
  display: inline;
}
nav ul li a {
  padding: 0 10px;
  height: 23px;
  line-height: 23px;
  border: 1px solid #CEC1A3;
  background-color: #F3EFE5;
  color: #620C0C !important;
  margin-right: 5px;
  display: block;
  float: left;
  text-decoration: none;
  border-bottom: none;
}
nav ul li a:hover,nav ul li.active a:hover {
  background: #CFC3A7;
  color: #A81616 !important;
}
nav ul li.active a {
  color: #A81616 !important;
}
/* article */
.article-title a {
    color: #222;
}

.article-header {
    text-shadow: #CCC 1px 1px 1px;
    font-size: small;
}

.article-footer {
    padding: 0 0.5em 0.5em 0;
    margin: 0 0 2em 0;

}
.article-body {
  margin-top: 15px;
  font-family: "Droid Sans", Sans, Arial, sans-serif;
}
.article-body img {
    margin: 1em;
    border: 1px solid black;
}
.article-footer a {
    color: #000;
    margin: 0;
    font-weight: bold;
}

/* Other */
.page {
  overflow: auto;
  margin-bottom: 15px;
}
#cboxLoadedContent p {
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}
#cboxLoadedContent img {
  -webkit-box-shadow: #ccc 5px 3px 3px;
  -moz-box-shadow: #ccc 5px 3px 3px;
  box-shadow: #ccc 5px 3px 3px;
}
label {
  font-weight: bold;
  line-height: 25px;
}
label small {
    font-weight: normal;
}
input[type="text"], input[type="password"] {
  border: 1px solid #CCC;
  font-size: 20px;
  height: 30px;
  padding: 0px 5px;
}
textarea {
  border: 1px solid #CCC;
  padding: 5px;
  font-size: 15px;
  font-family: "Courier new", sans-serif;
  width: 100%;
}
img {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
img.inline {
  vertical-align: middle;
}

br.clear {
  clear: both;
  height:0;
  line-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.errors {
  color: red;
  list-style-type: decimal;
  padding-left: 25px;
  padding-bottom: 10px;
}
table {
  border-collapse: collapse;
}
table tr td {
  padding: 10px;
  line-height: 25px;
  border: 1px solid #ccc;
}
#content section > form {
  float: left;
  width: 65%;
}
#content section > aside {
  display: block;
  float: right;
  width: 30%;
}

/* comments */
#disqus_thread {
    width: 70%;
}
#dsq-content .dsq-comment-header {
    background: #E4DDC7 none !important;
}
